@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Scissors-Gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --Paper-Gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --Rock-Gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --Lizard-Gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --Spock-Cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  --white: hsl(0, 0%, 98%);

  /* ### Neutral */

  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  /* ### Background */

  --Radial-Gradient: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semi-condensed-bold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  display: grid;
  min-height: 100vh;
  min-height: 100svh;
  background: var(--Radial-Gradient) no-repeat;

  padding-block: 1.8rem;
}

main {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: clamp(3.7rem, 7.4859rem + -4.2066vw, 6.5rem);
}

.empty-choice {
  background-color: hsl(220, 47%, 18%);
  border-radius: 50%;
  grid-row: 1;
  grid-column: 2;

  height: clamp(6.3rem, 3.5887rem + 11.5681vw, 14rem);
  width: clamp(6.34rem, 3.6428rem + 11.508vw, 14rem);
}

.game-container {
  display: grid;
  justify-items: center;

  align-items: center;

  gap: 2.5rem 2.5rem;
  background: url(../images/bg-pentagon.svg) center
    clamp(2rem, 0.9437rem + 4.507vw, 5rem);
  background-size: clamp(15rem, 13.2394rem + 7.5117vw, 20rem);

  background-repeat: no-repeat;
}

.choice {
  width: max-content;
  border-radius: 50%;
  background: var(--white);
  box-shadow: inset 0px 4px 0px 0px hsl(235, 24%, 80%);

  padding-block: clamp(0.9rem, 0.5831rem + 1.3521vw, 1.8rem);
  padding-inline: clamp(1.05rem, 0.7507rem + 1.277vw, 1.9rem);

  & img {
    height: clamp(2.5rem, 2.1479rem + 1.5023vw, 3.5rem);
  }

  &:hover {
    cursor: pointer;
  }
}
.paper,
.rock,
.scissors,
.spock,
.lizard {
  width: max-content;
  background: var(--Paper-Gradient);
  box-shadow: inset 0px -4px 0px 0px hsl(229, 66%, 46%);
  box-shadow: inset 0px -5px 0px 0px hsl(from black h s l / 0.3);
  border-radius: 50%;

  padding-block: clamp(0.8rem, 0.7648rem + 0.1502vw, 0.9rem);
  padding-inline: clamp(0.9rem, 0.8648rem + 0.1502vw, 1rem);
}
.paper {
  grid-row: 1 / span 2;
  grid-column: 2;
  margin-inline-start: clamp(2.2rem, 1.3549rem + 3.6056vw, 4.6rem);
  margin-block-start: clamp(4.6rem, 3.4028rem + 5.108vw, 8rem);
}
.rock {
  background: var(--Rock-Gradient);
  justify-self: flex-start;

  grid-row: 3;
  grid-column: 2;
  & .choice {
    padding-block-start: 1.4rem;

    & img {
      height: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
    }
  }
}

.scissors {
  background: var(--Scissors-Gradient);

  grid-row: 1;
  grid-column: 1 / span 2;
}

.spock {
  background: var(--Spock-Cyan);
  grid-row: 1 / span 2;
  grid-column: 1;
  margin-inline-end: clamp(2.2rem, 1.3549rem + 3.6056vw, 4.6rem);
  margin-block-start: clamp(4.6rem, 3.4028rem + 5.108vw, 8rem);
}

.lizard {
  background: var(--Lizard-Gradient);
  grid-row: 3;
  grid-column: 1;
  justify-self: flex-end;
}
.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.2rem solid var(--Header-Outline);

  border-radius: clamp(0.5rem, 0.3592rem + 0.6009vw, 0.9rem);
  padding-block: clamp(0.8rem, 0.6944rem + 0.4507vw, 1.1rem)
    clamp(0.7rem, 0.5944rem + 0.4507vw, 1rem);

  padding-inline: clamp(1.2rem, 0.9887rem + 0.9014vw, 1.8rem)
    clamp(0.6rem, 0.2831rem + 1.3521vw, 1.5rem);
  margin-block-start: clamp(0rem, -0.3521rem + 1.5023vw, 1rem);

  min-inline-size: clamp(19.7rem, 11.1437rem + 36.507vw, 44rem);

  & img {
    block-size: clamp(3.3rem, 1.9533rem + 5.7457vw, 7.1245rem);

    padding-block-start: clamp(0rem, 0.1352rem + -0.1502vw, 0.1rem);
  }
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  color: var(--Dark-Text);

  padding-inline: clamp(1.4rem, 0.8718rem + 2.2535vw, 2.9rem);
  padding-block: clamp(0.6rem, 0.4944rem + 0.4507vw, 0.9rem);
  border-radius: 0.3rem;

  & div {
    color: var(--Score-Text);
    font-size: clamp(0.6rem, 0.4592rem + 0.6009vw, 1rem);
    letter-spacing: clamp(0.12rem, 0.0989rem + 0.0901vw, 0.18rem);
  }
  & h1 {
    font-size: clamp(2.35rem, 1.769rem + 2.4789vw, 4rem);

    padding: 0px;
    margin: 0px;
    line-height: 100%;
    transition: 1s ease;
  }
}

.step-2 {
  display: grid;
  justify-content: space-between;
  place-items: center;
  gap: clamp(1.4rem, 0.4845rem + 3.9061vw, 4rem)
    clamp(1.4rem, -1.2761rem + 11.4178vw, 9rem);

  grid-template-rows: max-content;
  color: var(--white);
  & div {
    grid-row: 1;
  }
  .you-picked {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }
  .computer-picked {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    justify-self: center;
  }
}
.result-container.result-container {
  display: flex;
  flex-direction: column;
  grid-row: 3;
  grid-column: 1 / span 2;
  align-items: center;
  gap: 0.5rem;

  margin-block-start: clamp(-0.1875rem, 0.066rem + -0.2817vw, 0rem);
  margin-block-end: clamp(-0.1875rem, -0.2535rem + 0.2817vw, 0rem);

  & p {
    font-size: 3.5rem;
    color: var(--white);
  }

  & button {
    color: var(--Dark-Text);
    background-color: white;
    padding-inline: 3.8rem;
    padding-block: 0.7rem;
    letter-spacing: 0.15rem;
    border-radius: 0.5rem;
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

.pick-container {
  color: var(--white);

  font-size: clamp(1rem, 0.7535rem + 1.0516vw, 1.7rem);
  letter-spacing: 0.09rem;
}

.rules-btn {
  border: 0.15rem solid var(--Header-Outline);
  border-radius: 0.6rem;
  align-self: center;
  color: var(--white);
  margin-block-start: clamp(-3.7rem, 4.5479rem + -9.1643vw, 2.4rem);
  padding-inline: 2.3rem;
  padding-block: 0.4rem;
  letter-spacing: 0.15rem;

  &:hover {
    cursor: pointer;
  }
}

.rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline-end: clamp(0rem, -0.669rem + 2.8545vw, 1.9rem);
}

#rules-dialog[open] {
  display: grid;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;

  justify-items: center;

  gap: clamp(0rem, 10.8169rem + -12.0188vw, 8rem);
  padding: 0;
  padding-block: 3rem;
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  & h2 {
    font-size: 2.3rem;
  }

  & button {
    cursor: pointer;
  }
}

.play-shadows {
  box-shadow: inset 0px clamp(-0.625rem, -0.2025rem + -0.4695vw, -0.3125rem) 0px
      0px hsl(from black h s l / 0.3),
    0px 0px 0px clamp(1.125rem, 0.2007rem + 3.9437vw, 3.75rem)
      hsl(220, 34%, 26%),
    0px 0px 0px clamp(3.125rem, 1.3644rem + 7.5117vw, 8.125rem)
      hsl(220, 37%, 24%),
    0px 0px 0px clamp(5rem, 1.919rem + 13.1455vw, 13.75rem) hsl(220, 42%, 22%);

  z-index: -1;
}

@media (min-width: 50rem) {
  .rules-container {
    align-self: flex-end;
  }

  .result-container.result-container {
    grid-column: 2;
    grid-row: 2;
  }
  .pick-container {
    grid-row: 1;
  }

  .step-2 {
    & div {
      grid-row: 2;
    }

    .you-picked {
      grid-row: 2;
      grid-column: 1;

      padding-block: 2.2rem;
      padding-inline: 2rem;

      & .choice {
        padding-block: 3.5rem;
        padding-inline: 3.8rem;

        & img {
          height: 7.5rem;
        }
      }
    }
    .computer-picked {
      grid-row: 2;
      grid-column: 3;
      padding-block: 2.2rem;
      padding-inline: 2rem;

      & .choice {
        padding-block: 3.5rem;
        padding-inline: 3.8rem;

        & img {
          height: 7.5rem;
        }
      }
      & + .pick-container {
        grid-column: 3;
      }
    }
  }

  #rules-dialog[open] {
    align-items: center;
    max-inline-size: 30rem;
    max-block-size: 30rem;
    border-radius: 0.5rem;
    & img {
      grid-row: 2;
      grid-column: 1 / span 2;
    }
    & #close-btn {
      grid-row: 1;
      grid-column: 2;
    }
  }
}
